.more-information {
    text-align: center;
    color: #bd1414;
  }
  
      * {
    box-sizing: border-box;
  }
  body {
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      background-color: #000000;
  }
  
  .top-header {
      background-color: black;
      padding: 10px;
      text-align: center;
      font-size: 35px;
      color: #ffffff;
  }
  
  nav {
      float: left;
      width: 50%;
      
      background: #000000;
      padding: 20px;
  }
  
  nav ul {
      list-style-type: none;
      padding: 0;
      
  }
  
  article {
    float: left;
    padding: 0px;
    width: 40%;
    background-color: #000000;
    
  }
  
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #ffffff;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .projects {
      text-align: center;
  padding: 50px 20px;
  }

  .projects h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
   max-width: 1200px;
    margin: 0 auto;
  }